*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: cadetblue;
}

h1
{
    text-align: center;
    margin-top: 30px;
}

div
{
   
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    background-color: white;
    max-width: 500px;
    min-height: 230px;
    border-radius: 5px;
    box-shadow: 3px 4px 5px black;
}

button
{
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

button:hover
{
    background-color: black;
    color: white;
    transition: 1000ms;
}